body {
  background-color: black;
  color: white;
}

.navBar {
  float: left;
  margin: 1%;
  background-color:aqua;
}

.name {
  font-style: italic;
}

.profilePicBox {
  float: left;
  width: 10%;
}

.profilePicBox img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.profilePicBox p {
  text-align: center;
  font-style:italic;
}

.aboutMeSection {
  float:left
}