body {
  background-color: #121212;
  color: white;
}

.navBar {
  background-color: #1e1e1e;
  color: rgb(205, 169, 133);
  float: left;
  margin: 2%;
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 1rem 1rem black;
}

.name {
  font-style: italic;
  text-align: center;
}

.profilePicBox img {
  border-radius: 50%;
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

.profilePicBox p {
  text-align: center;
  font-style: italic;
}

.expandSection {
  background-color: #1e1e1e;
  cursor: help;
  padding: 10px;
  width: 100%;
  margin:auto;
  border: thick;
  border-radius: 10px;
  text-align: center;
  color: #CDA985;
  font-size: 165%;
}

.active,
.expandSection:hover {
  border:thick;
}

.aboutMe-Section {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.projectSpotlight-Wrapper {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  margin: 1%;
  width: auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 1rem 1rem black;
}