body {
  background-color: black;
  color: white;
}

.navBar {
  background-color:aqua;
  color:chocolate;
  float: left;
  margin: 1%;
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
}

.name {
  font-style: italic;
}

.profilePicBox img {
  border-radius: 50%;
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

.profilePicBox p {
  text-align: center;
  font-style:italic;
}

.expandSection {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .expandSection:hover {
  background-color: #ccc;
}

.aboutMe-Section {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}